.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
}

.radial-menu {
  width: 1000px;
  height: 1000px;
  z-index: 1;
}

.background {
  position: fixed;
  pointer-events: none;
  transition: opacity 0.2s;
  height: inherit;
  width: inherit;
}

path {
  fill: #333;
  stroke: #444;
  transition: fill 0.2s;
}

path.hovered {
  fill: #a72525;
}

svg text {
  pointer-events: none;
  white-space: nowrap;
}

.curved-word {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.curved-word.word-visible {
  opacity: 1;
}
